<h1>Practice 1</h1>
<p>Create 2 Component: Warning-Alert and Success-Alert</p>
<hr />

<p>Result</p>
<br />
<app-warning></app-warning>
<app-success-alert></app-success-alert>

<h1>Practice 2</h1>
<p>
  1.Add input fields which updates a property ('username') via Two-Way-Binding
</p>
<p>2.Output a property username via string interpolation (below input)</p>
<p>
  3.Add button only be click when it not empty string and clicking button,
  username should be empty string
</p>
<app-input-username></app-input-username>

<h1>Practice 3</h1>
<p>Add a button with the title "Display Details"</p>
<p>Add a paragraph with the content "Secret Password = tuna"</p>
<p>Toggle Display of paragraph with button create in first step</p>
<p>Log all button click in an array</p>
<p>
  Start with 5th log item, give all blue background [ngStyle] and white
  color[ngClass]/p>
</p>
<app-toggle-btn></app-toggle-btn>

<h1>Practice 4</h1>
<ul>
  <li>Create three new components: GameControl, Odd and Even</li>
  <li>
    The GameControl Component should have buttons to start and stop the game
  </li>
  <li>
    When starting the game, an event (holding a incrementing number) should get
    emitted each second (ref = setInterval())
  </li>
  <li>The event should be listenable from outside the component</li>
  <li>
    When stopping the game, no more events should get emitted
    (clearInterval(ref))
  </li>
  <li>
    A new Odd component should get created for every odd number emitted, the
    same should happen for the Even Component (on even numbers)
  </li>
  <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
  <li>
    Style the element (e.g. paragraph) holding your output text differently in
    both components
  </li>
</ul>

<div class="row">
  <div class="col-xs-12">
    <app-game-control
      (intervalFired)="onIntervalFired($event)"
    ></app-game-control>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor="let number of oddNumbers" [number]="number"></app-odd>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-even *ngFor="let number of evenNumbers" [number]="number"></app-even>
  </div>
</div>
